    /* MOBILE Devices */
@media screen and (max-width: 767px) {
    
    .nav-container{
        flex-direction: column;
    }
    .nav-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0px 10px;
    }
    .nav-menu{
        width: 100%;
        padding-bottom: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-details{
        width: 100%;
        padding-bottom: 20px;
    }
    .banner-img{
        width: 100%;
    }
    .all-product{
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    }
    .product-icon{
        flex-direction: column;
        gap: 20px;
    }
}


    /* TABLET and Others */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .all-product{
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
    }
}