    /* MOBILE Devices */
    /* TABLET and Others */
    @media screen and (max-width: 1024px){
        .all-product{
            grid-template-columns: repeat(3,1fr);
            padding: 20px;
        }
        .t-shirt-container{
            flex-direction: column;
            padding: 20px;
        }
        .t-shirt-img{
            width: 100%;
            margin-bottom: 20px;
        }
        .t-shirt-img img{
            width: 80%;
        }
        .t-shirt-details{
            width: 100%;
        }
        .t-shirt-details button{
            display: flex;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 425px) {
    
    .nav-container{
        flex-direction: column;
    }
    .nav-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0px 10px;
    }
    .nav-menu{
        width: 100%;
        padding-bottom: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-details{
        width: 100%;
        padding-bottom: 20px;
    }
    .banner-img{
        width: 100%;
    }
    .all-product{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
    }
    .product-icon{
        flex-direction: column;
        gap: 20px;
    }
    .t-shirt-container{
        flex-direction: column;
        padding: 20px;
    }
    .t-shirt-img{
        width: 100%;
    }
    .t-shirt-img img{
        width: 100%;
    }
    .t-shirt-img p{
        left: 70%;
    }
    .t-shirt-details{
        width: 100%;
    }
    .t-shirt-details button{
        display: flex;
        margin: 0 auto;
    }
}


