*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* Navbar starts from here */
nav{
    background-color: #9376e0;
}
.nav-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 70px;
    display: flex;
}
.nav-title{
    width: 50%;
    display: flex;
    align-items: center;  
    font-size: 24px;
}
.urban-logo{
    width: 50px;
}
.urban{
    color: white;
}
.hive{
    color: #e893cf;
}
.nav-menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.nav-menu a{
    text-decoration: none;
    color: white;
}
.nav-menu> .login{
    background-color: #e893cf;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}
.fa-solid{
    color: #9376e0;
}

/* Banner starts from here */
.banner-container{
    background-color: #E6E9EB;
    max-width: 1440px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}
.banner-details{
    width: 50%;
    text-align: center;
}
.banner-details h3{
    font-size: 48px;
    background-image: linear-gradient(#9376e0, #e893cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.banner-details p{
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    margin: 20px 0px;
}
.banner-icon{
    font-size: 32px;
    width: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: skyblue;
}
.fa-youtube{
    color: red;
}
.fa-square-instagram{
    color: rgb(228, 74, 125);
}
.buttons button{
    padding: 10px 20px;
    border: 2px solid #9376e0;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}
.buttons button:hover{
    background-color: #dadddf;
    color: green;
    cursor: pointer;
}

.banner-img{
    width: 50%;
    border-radius: 5px;
}

/* All Products starts from here */
.product-container{
    max-width: 1440px;
    margin: 30px auto;

}
.product-container h2{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
}
.all-product{
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}
.product{
    box-shadow: 2px 2px 5px black;
    background-color: #E6E9EB;
    border-radius: 10px;
    padding: 10px;
}
.product img{
    width: 90%;
    margin: 0 auto;
}
.product-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
 .fa-cart-shopping{
    color: green;
 }
 .product p{
    margin: 10px 0px;
    font-size: 14px;
 }
.product>.price{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

/* T-shirt starts from here */
.t-shirt{
    background-color: #917BDD;
}
.t-shirt-container{
    max-width: 1440px;
    margin: 50px auto 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-shirt-img{
    width: 50%;
    padding: 30px 0px;
    position: relative;
}
.t-shirt-img p{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgb(235, 235, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    top: 9%;
    left: 60%;
}
.t-shirt-details{
    width: 50%;
}
.t-shirt-details h3{
    font-size: 24px;
}
.t-shirt-details p{
    margin: 30px 0px;
}
.t-shirt-details button{
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.t-shirt-details button:hover{
    cursor: pointer;
    background-color: rgb(118, 156, 118);
}

/* Reviews starts from here */
.review-container{
    width: auto;
    margin: 30px auto;
}
.review-container h2{
    text-align: center;
    font-size: 32px;
}